$first-color: #e67c28;
$second-color: #ffffff;
$third-color: #ebebeb;
$fourth-color: #3b3f4a;
$fifth-color: #798091;

@mixin default-font {
    font-family: Inter, sans-serif;
    line-height: 1.4;
    letter-spacing: 0.01em;

    @supports (font-variation-settings: normal) {
        html {
            font-family: Inter Variable, sans-serif;
        }
    }
}

@mixin section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

@mixin clickable {
    cursor: pointer;
    text-decoration: none;
    color: $second-color;
    text-transform: uppercase;

    &:active {
        transform: scale(0.9);
    }
}

@mixin backdrop-filter {
    backdrop-filter: blur(2px) saturate(0.9);
}

@mixin text-shadow {
    text-shadow: 1px 1px 8px #000;
}

.primary {
    background-color: $first-color;
}

.secondary {
    color: $fourth-color;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
}

.slide-in {
    animation: slide-in 0.75s ease-in-out;
}

.slide-out {
    animation: slide-out 0.75s ease-in-out;
}

@keyframes slide-in {
    from {
        transform: translateX(-10%);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    } to {
        transform: translateX(10%);
        opacity: 0;
    }
}