$breakpoint-mobile: 519px;
$breakpoint-tablet: 1099px;
$breakpoint-desktop: 1199px;
$breakpoint-fullscreen: 1400px;

$first-color: #e67c28;
$second-color: #ffffff;
$third-color: #ebebeb;
$fourth-color: #3b3f4a;
$fifth-color: #798091;

$h1-font-size: clamp(1.5rem, 2.75vw + 1rem, 3.5rem);
$h2-font-size: clamp(1.25rem, 2vw + 1rem, 2.5rem);
$h3-font-size: clamp(1rem, 2vw + 1rem, 1.25rem);
$p-font-size: clamp(.75rem, 1.25vw + 0.25rem, 1rem);

$h1-font-weight: 700;
$h2-font-weight: 600;
$h3-font-weight: 500;

@mixin default-font {
    font-family: Inter, sans-serif;
    line-height: 1.4;
    letter-spacing: 0.01em;

    @supports (font-variation-settings: normal) {
        html {
            font-family: Inter Variable, sans-serif;
        }
    }
}

@mixin section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

@mixin clickable {
    cursor: pointer;
    color: $second-color;
    text-decoration: none;
    text-transform: uppercase;

    &:active {
        transform: scale(0.9);
    }
}

@mixin backdrop-filter {
    backdrop-filter: blur(2px) saturate(0.9);
}

@mixin text-shadow {
    text-shadow: 1px 1px 1px #000000;
}

.primary {
    background-color: $first-color;
}

.secondary {
    color: $fourth-color;
}

.show-content {
    visibility: visible;
    transform: translateY(-100%);
    transition: all 0.75s ease-in-out;
    opacity: 1;
}
