@media (max-width: $breakpoint-mobile) {
    #hero {
        width: clamp(320px, 100%, $breakpoint-mobile);
        min-height: 100vh;
        min-width: 100vw;

        .hero-content {
            h1 {
                font-size: $h1-font-size;
                max-width: 90%;
                margin: 3.5em 0 1em 0;
            }

            .search-form {
                flex-direction: column;
                width: 80%;
                max-width: 90%;
                margin-bottom: 2em;
                gap: 1em;

                & > * {
                    width: 80%;
                    margin: 0 auto;
                    padding-top: 0.75em;
                    padding-bottom: 0.5em;
                }
            }
        }

        .carousel-container {
            display: flex;
            flex-direction: column;
            max-height: 28%;
            padding: 0;
        }
    }
}

@media (min-width: 520px) and (max-width: $breakpoint-tablet) {
    #hero {
        width: 100%;
        min-height: 105vh;

        .hero-content {
            h1 {
                font-size: $h1-font-size;
                max-width: 70%;
                margin: 4em 0 2em 0;
            }

            .search-form {
                flex-direction: column;
                width: 80%;
                max-width: 90%;
                margin-bottom: 2em;
                gap: 1em;

                & > * {
                    width: 70%;
                    max-width: 85%;
                    margin: 0 auto;
                    padding-top: 1em;
                    padding-bottom: 1em;
                }
            }
        }

        .carousel-container {
            display: flex;
            flex-direction: column;
            max-height: 28%;
            padding: 0;

            .hero-carousel {
                min-width: 60%;
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
    #hero {
        width: 100%;
        min-height: 105vh;

        .hero-content {
            margin: 2em;

            h1 {
                margin-top: 10%;
                max-width: 70%;
            }

            .search-form {

                & > * {
                    width: 90%;
                }
            }
        }
        .carousel-container {
            padding: 0
        }

        .nav-links > a {
            justify-items: center;
        }
    }
}

@media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-fullscreen) {
    #hero {
        .hero-content {
            margin: 2em;
            h1 {
                max-width: 70%;
            }
        }
    }
}

.hero {
    @include section;

    flex-direction: column;
    position: relative;
    background-image: url("/images/hero-image-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 16 / 9;

    .hero-content {
        @include backdrop-filter;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 1em;


        h1 {
            @include text-shadow;
            @include default-font;

            text-align: center;
            font-size: $h1-font-size;
            font-weight: $h1-font-weight;
            max-width: 50%;
            margin-bottom: 0.75em;
            
        }

        form {
            display: flex;
            justify-content: center;
            width: 60%;
            gap: 0.5em;
            margin: 0 auto;
        }

        form > input {
            @include default-font;

            min-height: 1em;
            width: 30%;
            padding: 1em 1.5em;
        }

        form > button {
            width: 20%;
            padding: 1.25em;
        }
    }

    .carousel-container {
        width: 100%;
        background-color: rgba(#222222, 0.2);
        backdrop-filter: blur(5px);
        padding: 0.5em 0;

        .hero-carousel {
            @include text-shadow;

            display: flex;
            justify-content: center;
            min-height: 10%;
            width: clamp(300px, 60%, 100%);
            margin: 0 auto;
            padding: 0.5em 0.25em;

            .previous-page,
            .next-page {
                @include clickable;
                user-select: none;
            }

            .previous-page {
                order: 1;
            }

            .next-page {
                order: 3;
            }

            ul {
                display: flex;
                justify-content: center;
                align-self: center;
                gap: 1em;
                min-height: 100%;
                min-width: 80%;
                order: 2;
            }

            li {
                display: grid;
                grid-auto-rows: min-content;
                text-align: center;
                grid-gap: 1em;
                padding: 1em 0;
                width: clamp(5em, 10em, 12em);
                height: clamp(7em, 12em, 15em);
                min-height: fit-content;

                .image-container {
                    display: flex;
                    justify-content: center;
                }

                .image {
                    text-align: center;
                    order: 1;
                    padding: 0.75em;
                    border: 1px solid $second-color;
                    border-radius: 50px;
                    max-width: 4.75em;
                }

                @media (hover: hover) {
                    .image:hover {
                        cursor: pointer;
                        background-color: $second-color;
                    }

                    .image:hover > svg > * {
                        stroke: $first-color;
                    }
                }

                p {
                    order: 2;
                }
            }

            img,
            svg {
                width: 3em;
                border-radius: 50px;
            }
        }
    }
}
