@media (max-width: $breakpoint-mobile) {
    #insights {
        min-width: clamp(300px, 85vw, $breakpoint-mobile);
        margin-top: 8em;

        .image-gallery {
            flex-direction: column;
            width: clamp(300px, 80%, $breakpoint-mobile);


            & > li {
                width: clamp(300px, 100%, $breakpoint-mobile);
                max-height: 28em;
                margin-bottom: 2em;

                .insight-content {
                    visibility: visible;
                    padding-top: 5%;
                    z-index: 1;
                    opacity: 1;
                    background: $first-color;
                }

                & > img {
                    object-fit: cover;
                    z-index: 0;
                }
            }
        }
    }
}

@media (min-width: 520px) and (max-width: $breakpoint-tablet) {
    #insights {
        min-width: clamp($breakpoint-mobile, 85vw, $breakpoint-tablet);
        margin-top: 15em;

        .image-gallery {
            flex-wrap: wrap;
            width: clamp($breakpoint-mobile, 80%, $breakpoint-tablet);


            & > li {
                display: flex;
                width: clamp($breakpoint-mobile, 100%, $breakpoint-tablet);
                max-height: 20em;
                margin-bottom: 2em;
                
                .insight-content {
                    visibility: visible;
                    padding-top: 5%;
                    padding: 2em;
                    z-index: 1;
                    opacity: 1;
                    background: $first-color;
                }

                & > img {
                    object-fit: cover;
                    max-width: 50%;
                    z-index: 0;
                }
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-fullscreen) { 
    #insights {
        min-width: 90vw;
        margin: 4em auto;

        .image-gallery {
            min-width: 100%;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.latest-insights {
    @include section;
    @include default-font;

    flex-direction: column;
    color: $fourth-color;
    max-width: 70%;
    margin: 4em auto;

    h2 {
        font-size: $h2-font-size;
    }

    ul {
        display: flex;
        margin-top: 3em;
        gap: 2em;

        li {
            cursor: pointer;
            max-height: 25em;
            width: clamp(18em, 18vw + 1rem, 20em);
            z-index: 0;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: fill;
                aspect-ratio: 4 / 3;
            }

            .insight-content {
                visibility: hidden;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    10deg,
                    rgba($first-color, 1),
                    rgba($second-color, 0.5)
                );
                backdrop-filter: blur(3px);
                color: $second-color;
                text-shadow: 1px 1px 1px #000000;

                padding: 1em;
                padding-top: 30%;
                z-index: 1;
                opacity: 0;
            }

            h3 {
                font-size: $h3-font-size;
                font-weight: $h3-font-weight;
            }

            p {
                font-size: $p-font-size;
                margin-top: 1em;
            }
        }

        @media (hover: hover) {
            li:hover > .insight-content {
                visibility: visible;
                transform: translateY(-100%);
                transition: all 0.75s ease-in-out;
                opacity: 1;
            }
        }
    }
}
