@media ( max-width: $breakpoint-mobile) { 
    #join-us { 
        width: clamp(320px, 100%, $breakpoint-mobile);
        margin-top: 10em;

        .content-container {
            min-height: 70vh;
            flex-direction: column;
            margin: 0 auto;
        }

        .work-for-us-content {
            height: 30vh;
            width: 70vw;
            min-width: 350px;
            padding: 12em 1em;
            margin: 0 auto;
        }

        .work-for-us-image {
            justify-content: center;
            max-width: 80vw;
            
            
            & > img {
                max-height: 25vh;
                width: 70vw;
                min-width: 350px;
            }
        }

    }
}

@media (min-width: 520px) and (max-width: $breakpoint-tablet) { 
    #join-us { 
        width: clamp($breakpoint-mobile, 100%, $breakpoint-tablet);
        margin-top: 10em;

        .content-container {
            min-height: 70vh;
            flex-direction: column;
            margin: 0 auto;
        }

        .work-for-us-content {
            height: 30vh;
            width: 70vw;
            min-width: 350px;
            padding: 12em 1em;
            margin: 0 auto;
        }

        .work-for-us-image {
            justify-content: center;
            max-width: 80vw;
            
            
            & > img {
                max-height: 35vh;
                width: 70vw;
                min-width: 350px;
            }
        }

    }
}

.work-for-us {
    @include section;
    @include default-font;

    flex-direction: row;
    min-height: 30em;
    max-width: 60%;
    margin: 0 auto;

    .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 20em;
    }

    .work-for-us-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 30vw;
        height: 40vh;
        max-height: 440px;


        min-width: 50%;
        gap: 1.5em;
        padding: 1.75em;
        background-color: $first-color;

        h2 {
            font-size: $h2-font-size;
            margin-top: 1em;
        }

        p {
            max-width: 90%;
        }

        button {
            text-transform: none;
            padding: 1em 1.5em;
            margin-bottom: 1.5em;
        }
    }

    .work-for-us-image {
        display: flex;
        max-width: 50%;

        & > img {
            width: 30vw;
            min-width: 330px;
            height: 40vh;
            min-width: 400px;
            object-fit: cover;
        }
    }
}
