@import "css-reset";
@import "global";
@import "header";
@import "hero";

html {
    font-family: Inter, sans-serif;
    line-height: 1.4;
    letter-spacing: 0.01em;
    scroll-behavior: smooth;
    color: $second-color;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: Inter Variable, sans-serif;
    }
}

header {
    @include backdrop-filter;

    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 2;
    text-shadow: 1px 1px 8px #000;
}

button {
    @include clickable;

    font-family: Inter, sans-serif;
    font-size: 0.8rem;
    padding: 0.8em 1em;
    border: none;
}

a {
    @include clickable;
}
