@import "css-reset";
@import "global";
@import "header";
@import "hero";
@import "latest-jobs";
@import "about-us";
@import "testimonials";
@import "work-for-us";
@import "latest-insights";
@import "footer";

html {
    @include default-font;

    scroll-behavior: smooth;
    color: $second-color;
}

@media (min-width: 320px) and ( max-width: $breakpoint-mobile) {
    html,
    body,
    header {
        min-width: 100%;
        min-height: max-content;
        max-width: $breakpoint-mobile;
    }
}

header {
    @include backdrop-filter;
    @include text-shadow;

    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 2;
}

button {
    @include clickable;
    @include default-font;

    font-size: 0.8rem;
    padding: 0.8em 1em;
    border: none;
}

a {
    @include clickable;
}

footer {
    @include section;

    min-height: 30vh;
    height: 20em;
    margin-top: 5em;
    background-color: $fourth-color;
}