@import "css-reset";
@import "global";
@import "header";
@import "hero";
@import "latest-jobs";
@import "about-us";
@import "testimonials";
@import "work-for-us";
@import "latest-insights";

html {
    @include default-font;

    scroll-behavior: smooth;
    color: $second-color;
}

header {
    @include backdrop-filter;
    @include text-shadow;

    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 2;
}

button {
    @include clickable;
    @include default-font;
    
    font-size: 0.8rem;
    padding: 0.8em 1em;
    border: none;
}

a {
    @include clickable;
}
